﻿extends layout

block content
  .row
    if message!='' && !apikey
        .col-md-6.col-md-offset-3
            .alert.alert-dismissable.alert-danger
                button.close( type="button", data-dismiss="alert" ) ×                     
                | #{message}

  .row
    .col-sm-6.col-xs-12
        h1 Forgotten API Key
        p.lead Enter your credientials to get your registered API key.
        br
        form(role='form', action="/forgot",method="post", style='max-width: 300px;')
          .form-group
            input.form-control(type='text', name="email", required='required', placeholder='Email')
          .form-group
            input.form-control(type='password', name="password", required='required', placeholder='Password')
          button.btn.btn-primary(type='submit') Get API Key
          br
          br
          b: a(href='/') Don't have account? Register here
    if apikey
        .col-sm-6.col-xs-12
            br
            br
            .panel.panel-info
                .panel-heading
                    b   Your registered API Key 
                .panel-body #{apikey}