﻿doctype
html( lang="en" )
	head
		title Modern Payroll api for Cloudator
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')

	body(style="padding-bottom:10rem;")
		.container

			.page-header: h1 Cloudator - Payroll
			
			//- Basic navbar, inverse color
			nav.navbar.navbar-inverse( role="navigation" )
				.navbar-header
					button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-default", aria-expanded="false", aria-controls="navbar")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Payroll

				#navbar-default.collapse.navbar-collapse
					ul.nav.navbar-nav
						li: a( href="/") Home
						li: a( href="/trial" ) Test API

			block content

		script(src='/javascripts/jquery-1.10.2.min.js')
		script(src='/javascripts/bootstrap.min.js')
