﻿extends layout

block content
  .row
    if message!='' && !apikey
        .col-md-6.col-md-offset-3
            .alert.alert-dismissable.alert-danger
                button.close( type="button", data-dismiss="alert" ) ×                     
                | #{message}

  .row
    .col-sm-6.col-x
        h1 Register
        p.lead Fill-in form to get a Trial API key.
        br
        form(role='form', action="/register",method="post", style='max-width: 300px;')
            .form-group
                input.form-control(type='text', name="name", required='required', placeholder='Enter Company Name')        
            .form-group
            input.form-control(type='text', name="email", required='required', placeholder='Email')
            .form-group
            input.form-control(type='password', name="password", required='required', placeholder='Password')
            br
            button.btn.btn-primary(type='submit') Register API key
            br
            br    
            b: a(href='/forgotkey')  Forgot API Key?
            br
    if apikey
        .col-sm-6.col-xs-12
            br
            br
            .panel.panel-primary
                .panel-heading
                    b   Your API Key 
                .panel-body #{apikey}